@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  background-image: url('https://t4.ftcdn.net/jpg/04/96/63/81/240_F_496638107_KklRCseo1iAcIUc4vwFLqUteo9jkVIbL.jpg');
  background-color: rgb(9, 61, 9);
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  /* Add more styling as needed */
}



